In [1]:
import numpy as np
import pandas as pd

In [2]:
cricket=pd.read_csv("all_matches.csv")

c:\Users\bhara\Documents\ML_projects\first-sample-project\env\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
cricket.columns
cricket.head()
cricket.head().to_csv("data_science.csv")

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,18-04-2008,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,18-04-2008,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,18-04-2008,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,18-04-2008,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,18-04-2008,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

ipl_data=cricket.drop(columns=['other_wicket_type','other_player_dismissed', 'season', 
                               'start_date','wicket_type', 'player_dismissed'])
ipl_data.columns

NameError: name 'ipl_data' is not defined

In [80]:
ipl_data["total_runs"]=ipl_data["runs_off_bat"]+ipl_data['extras']

In [81]:
ipl_data.drop(columns=['runs_off_bat','extras'])
ipl_data=ipl_data[ipl_data['ball']<5.7]
ipl_data=ipl_data[ipl_data['innings']<3]

In [82]:
ipl_data=ipl_data.groupby(['match_id',
                  'venue',
                 'innings',
                 'batting_team',
                 'bowling_team']).total_runs.sum()
ipl_data.reset_index()
ipl_data=ipl_data.drop(columns=['match_id'])
ipl_data.to_csv("my_data.csv")

In [84]:
my_data=pd.read_csv("my_data.csv")
my_data.head()

,match_id,venue,innings,batting_team,bowling_team,total_runs
0,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,61
1,335982,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,26
2,335983,"Punjab Cricket Association Stadium, Mohali",1,Chennai Super Kings,Kings XI Punjab,53
3,335983,"Punjab Cricket Association Stadium, Mohali",2,Kings XI Punjab,Chennai Super Kings,56
4,335984,Feroz Shah Kotla,1,Rajasthan Royals,Delhi Daredevils,40